{{ fs_path }}/shared_content {{ ansible_local.network.vpc_cidr }}(rw,sync,no_subtree_check,no_root_squash)
{{ fs_path }}/logs/{{ ansible_local.environment.environment_type }}_ckan {{ ansible_local.network.vpc_cidr }}(rw,sync,no_subtree_check,no_root_squash)
